/* ----------------- */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #EDEBF8;
  font-size: 14px; }

a, a:visited {
  text-decoration: none;
  color: #5971F1; }

a:hover {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, h3 {
  margin: 0; }

h2 {
  font-size: 25.2px; }

h3 {
  font-size: 18.2px; }

img {
  max-width: 100%; }

section {
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  width: 100%;
  background-color: #5971F1;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  -webkit-box-shadow: 0px 10px 15px 4px #dbdbdb;
  -moz-box-shadow: 0px 10px 15px 4px #dbdbdb;
  box-shadow: 0px 10px 15px 4px #dbdbdb;
  z-index: 999; }
  header h2 {
    display: inline;
    padding-left: 14px;
    font-weight: normal; }
    header h2 a {
      color: #FFF !important; }
  header h1 a {
    color: #FFF !important; }

.container {
  padding: 14px; }

#filters_box {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 14px; }
  #filters_box select {
    height: 28px;
    width: 98px; }

main {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 112px;
  margin: 0 14px 14px; }
  main a {
    color: #5971F1;
    font-weight: bold; }
  main section {
    width: 62%;
    margin-bottom: 56px; }
    main section #itinerary, main section #profile {
      background-color: #FFF;
      border-radius: 7px; }
    main section h2 {
      margin-bottom: 14px; }
    main section h3 {
      margin: 14px 0; }
    main section #buttons {
      width: 100%;
      margin-top: 42px;
      cursor: pointer;
      display: flex;
      justify-content: space-between; }
      main section #buttons div {
        text-align: center;
        width: 50%;
        color: white; }
      main section #buttons #like {
        background-color: #1c777d; }
      main section #buttons #like:hover {
        background-color: #134f53; }
      main section #buttons #dislike {
        background-color: #c984a3; }
      main section #buttons #dislike:hover {
        background-color: #b96188; }
  main aside {
    width: 35%; }
    main aside div {
      margin-bottom: 16.8px;
      height: 40vh;
      border-radius: 7px;
      padding: 14px;
      background-color: #FFF; }
      main aside div h2 {
        padding-bottom: 14px; }
      main aside div ul {
        height: 90%;
        overflow: scroll; }
      main aside div li {
        padding: 14px 0;
        border-bottom: 1px solid #b3b3b3;
        cursor: pointer; }
        main aside div li img {
          width: 28px; }
      main aside div li:hover {
        background-color: lighter(#5971F1, 10); }
      main aside div .trip {
        font-weight: bold;
        display: block; }
    main aside #liked {
      height: 80vh;
      background-color: #FFF; }

footer {
  position: fixed;
  width: 100%;
  height: 42px;
  bottom: 0;
  padding: 14px;
  font-size: 14px;
  background-color: #5971F1;
  color: white; }

/*# sourceMappingURL=style.css.map */
